<h2 class="col s4"> This is the Check index </h2>
<hr width=85%>
<div class="container">
  <a href="#" class="waves-effect waves-light btn green right">Checks</a>
  <table class = "bordered centered responsive-table">
    <thead>
        <tr>
            <th> Check Number</th>
            <th colspan="2"> Employee Name</th>
            <th> Total</th>
        </tr>
    </thead>
        <tbody>
          <% @payroll.checks.each do |info| %>
          <tr>
            
            <td> <%= info.check_name %> </td>
            <td> $<%= info.check_total %> </td>
          </tr>
        <% end %>
        </tbody>
  </table>
</div>