<h2 class="col s4">Checks for period <%=@payroll.end_date.strftime("%m.%d.%y") %> </h2>
<hr width=85%>
<div class="container">
  <a href="/payrolls" class="waves-effect waves-light btn right">Back to Payroll</a>
  <table class = "bordered highlight centered responsive-table">
    <thead>
        <tr>
            <th> Check Number</th>
            <th> Employee Name</th>
            <th> Net Check Amount</th>
        </tr>
    </thead>
        <tbody>
          <% @payroll.checks.each do |info| %>
          <tr>
            <td> <%=info.id%></td>
            <td> <%= info.check_name %> </td>
            <td> $<%= info.check_total %> </td>
          </tr>
        <% end %>
        </tbody>
  </table>
</div>