<body class="cyan lighten-4">

<div class="title">
    <h1>JayPay</h1>
</div> 
    <p class ="subtitle"> Working is hard. Getting paid doesn't have to be. </p>

<footer class = "footer-copyright">
    <div class ="subtitle container">
    | <a href = "#"> Contact Us</a> &nbsp;|
    <a <href = "#"> About </a> &nbsp; |
</div>
</footer>
</body>