<div class="container-fluid">
    <h2 class="patdown">Why Choose JayPay?</h2>
    <div class="about-padding">
        <div class="row">
            <div class="col s4">
                <div class="col s12">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/Okk8fKG.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Expertise<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Over 100 years combined experience<i class="material-icons right"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget diam sem. Aliquam fringilla, augue bibendum bibendum consequat, eros quam feugiat tellus, id finibus mauris massa sed nulla. Fusce ac libero sed risus sodales laoreet ut sit amet tellus. Cras a suscipit quam. Vestibulum vitae nisl ut diam scelerisque efficitur. Phasellus efficitur scelerisque magna et mattis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <div class="col s12">
                    <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/lot59nK.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Dedication<i class="material-icons right">more_vert</i></span>
                    <p><a href="#"></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">We Always put our Clients First<i class="material-icons right"></i></span>
                        <p>Duis sagittis est eget sagittis sollicitudin. Sed eros elit, congue eu condimentum eu, imperdiet sit amet felis. Maecenas urna mi, auctor eget ipsum sed, dapibus gravida orci. Nulla tincidunt viverra nibh vitae mattis. Maecenas vitae felis et risus bibendum tempor. Curabitur aliquam nisi id pretium aliquet. Sed sed lacus ex. Pellentesque mattis auctor turpis id pharetra. Etiam vel vestibulum quam, at semper augue.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <div class="col s12">
                    <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/rQgP1vY.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Perspiration<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">We strive for excellence in all that we do<i class="material-icons right"></i></span>
                        <p>Nunc vel dui eleifend urna suscipit lobortis. Sed sit amet massa nec nibh commodo condimentum sed quis massa. Maecenas venenatis odio purus, id consectetur elit pellentesque a. Maecenas in purus hendrerit est vulputate sagittis. Donec laoreet urna a neque aliquam sagittis. Etiam nunc nulla, aliquet eget sagittis in, mattis et lectus. Aliquam quis risus non mi lobortis sodales sed vel dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at enim gravida, dictum felis et, suscipit nunc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
