<div class="col s12">
    <div class="row">
        <h3 class="col s8 offset-s1"> Have a question?<h3>
    </div>    
</div>
<div class="container">
    <h6 class="flow-text"> We're Here to answer! </h6>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s5 offset-s1">
                <input id="first_name" type="text">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s5">
                <input id="last_name" type="text">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="email" type="email" class="validate">
                <label for="email"data-error="wrong" data-success="right">Email</label>
            </div>
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="question" type="text" >
                <label for="question">Ask away:</label>
            </div>
            <button type="button" class="btn col push-s10"> 
            <input type="hidden" name="redirect" value="welcome.html.erb">
            Submit </input>
            </button>
        </div>
    </form>
</div>