<body class="cyan lighten-4">
<img class="logo"src="http://i.imgur.com/lY0DMSb.png" alt="logo">
 
<main> 
    <p class ="flow-text center-align"> Working is hard. Getting paid doesn't have to be. </p>
    </br>
    <footer class="page-footer footer-color">
        <div class ="container">
            <div class="row">
                <a href = "/pages/contact" class="col s2 offset-s4 imagination black-link get-bigger"> Contact Us</a>
                <a href = "/pages/about"class="col s2 offset-s1 imagination black-link get-bigger">About</a>
            </div>
        </div>
    </footer>
<main>    
</body>
