<body class="cyan lighten-4">
<img class="logo"src="http://i.imgur.com/lY0DMSb.png" alt="logo">
 
<main> 
    <p class ="flow-text center-align"> Working is hard. Getting paid doesn't have to be. </p>
    </br>
    <footer class="page-footer">
        <div class ="container">
            <div class="row">
                <a href = "/pages/contact" class="col s2 offset-s4"> Contact Us</a>
                <a href = "/pages/about"class="col s2">About</a> 
            </div>
        </div>
    </footer>
    </br></br>
<main>    
</body>