<h1>this is the new todo page</h1>
<div class="container">
    <div class="row">
        <%= form_for @todo do |f| %>
        <div class="input-field col s4 offset-s1">
            <%= f.label :list,:class=>"active" %>
            <%= f.text_field :list %>
            <%=f.submit%>
        </div>
        <%end%>
    </div>
</div>