/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    color:white;
    font-size: .7em;
}

#employee_state, #employee_status, #employee_jobtype, #employee_gender {
    display: inline-block;
}

.text-shade {
    text-shadow: 2px 1px 5px grey;
}

.error-messages {
    color: red;
}

.logo {
    width: 50%;
    height:50%;
    margin: 0 auto;
    display: block;
}

.footer-color {
    background-color: rgba(0,0,0,0);
}

.phone {
    font-size:1.5em;
}

.fixed {
    position: fixed;
}