// Place all the styles related to the payperiods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.check-name {
    font-size: 20px;
}
.check-number {
    font-size: 18px;
}
.memo-line {
    text-decoration: underline;
}
.table-border {
    border-collapse: collapse;
}